{:blocks (
{:block/created-at 1690086005663
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:index 0
:scale [1 1]
:fill ""
:type "iframe"
:size [624 1120]
:id "61493520-290f-11ee-ba3f-47d6e5cefc1d"
:url "https://mp.weixin.qq.com/s/1lqOLALxg0QbeDvIZOj_Wg"
:isLocked false
:point [-456 24]
:parentId "64bca8d2-a3f0-4be7-908e-4c29a2278441"
:nonce 1690085653647}}
:block/updated-at 1690086005663} 
{:block/content "在中国科学技术大学（以下简称中国科大），一群喝着网红咖啡、野心十足的年轻人选择了“拥抱”。他们集中在最传统、最古老的学科——化学领域，从一个个不起眼的念头出发，打破研究的惯例，频频登上《自然》《科学》等国际一流期刊。他们要在科研范式的变革中，成为风暴的驾驭者。\r\n\r\n最初的念头：\r\n\r\n\r\n“有没有可能让计算机帮帮忙？”"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64bca8d2-a3f0-4be7-908e-4c29a2278441"}
:block/parent 
{:block/uuid #uuid "64bca8d2-a3f0-4be7-908e-4c29a2278441"}
:block/uuid #uuid "64bcaa0a-e929-456b-ad86-1f102a430102"} 
{:block/content "学技术大学（以下简称中国科大），一群喝着网红咖啡、野心十足的年轻人选择了“拥抱”。他们集中在最传统、最古老的学科——化学领域，从一个个不起眼的念头出发，打破研究的惯例，频频登上《自然》《科学》等国际一流期刊。他们要在科研范式的变革中"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64bcaa0a-e929-456b-ad86-1f102a430102"}
:block/parent 
{:block/uuid #uuid "64bca8d2-a3f0-4be7-908e-4c29a2278441"}
:block/uuid #uuid "64bcaa12-067b-474d-94bd-e8e36b8ede6a"} 
{:block/created-at 1690086000301
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:index 1
:scale [1 1]
:type "iframe"
:size [853 480]
:id "220e1d70-2910-11ee-ba3f-47d6e5cefc1d"
:url "http://staff.ustc.edu.cn/~jiangj1/AI-Chem-Syn-Cha-Test.mp4"
:isLocked false
:point [360 112]
:parentId "64bca8d2-a3f0-4be7-908e-4c29a2278441"
:nonce 1690085976463}}
:block/updated-at 1690086000301} 
{:block/created-at 1690086005664
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "220e6b90-2910-11ee-ba3f-47d6e5cefc1d"
:fontWeight 400
:noFill true
:point [169 459.34]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 46.62]
:bindingId "220e6b91-2910-11ee-ba3f-47d6e5cefc1d"}
:end 
{:id "end"
:canBind true
:point [187 0]
:bindingId "220e6b92-2910-11ee-ba3f-47d6e5cefc1d"}}
:decorations 
{:end "arrow"}
:parentId "64bca8d2-a3f0-4be7-908e-4c29a2278441"
:nonce 1690085976342
:italic false}}
:block/updated-at 1690086005664})
:pages (
{:block/uuid #uuid "64bca8d2-a3f0-4be7-908e-4c29a2278441"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64bca8d2-a3f0-4be7-908e-4c29a2278441"
:name "实验机器人"
:bindings 
{:220e6b91-2910-11ee-ba3f-47d6e5cefc1d 
{:id "220e6b91-2910-11ee-ba3f-47d6e5cefc1d"
:type "line"
:fromId "220e6b90-2910-11ee-ba3f-47d6e5cefc1d"
:toId "61493520-290f-11ee-ba3f-47d6e5cefc1d"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:220e6b92-2910-11ee-ba3f-47d6e5cefc1d 
{:id "220e6b92-2910-11ee-ba3f-47d6e5cefc1d"
:type "line"
:fromId "220e6b90-2910-11ee-ba3f-47d6e5cefc1d"
:toId "220e1d70-2910-11ee-ba3f-47d6e5cefc1d"
:handleId "end"
:point [0.5 0.5]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("61493520-290f-11ee-ba3f-47d6e5cefc1d" "220e1d70-2910-11ee-ba3f-47d6e5cefc1d" "220e6b90-2910-11ee-ba3f-47d6e5cefc1d")}}
:block/journal? false
:block/updated-at 1690086005663
:block/created-at 1690085586277
:block/type "whiteboard"
:block/name "实验机器人"
:block/original-name "实验机器人"})}