{:highlights [{:id #uuid "649bc2c2-7cbb-413e-8c97-af72fe860766",
               :page 27,
               :position {:bounding {:x1 70,
                                     :y1 86,
                                     :x2 597,
                                     :y2 684,
                                     :width 660.0000000000001,
                                     :height 1000.6457427680544},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1687929538025},
               :properties {:color "yellow"}}
              {:id #uuid "649bc3d6-4f03-43c6-8fd6-6c6f7c127abc",
               :page 29,
               :position {:bounding {:x1 60,
                                     :y1 82,
                                     :x2 590,
                                     :y2 386,
                                     :width 659.9098832578568,
                                     :height 1000.5091140796033},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1687929813410},
               :properties {:color "yellow"}}
              {:id #uuid "649bc3f5-2e7b-4fcb-9685-84537273248e",
               :page 34,
               :position {:bounding {:x1 70,
                                     :y1 78,
                                     :x2 616,
                                     :y2 455,
                                     :width 659.9098832578568,
                                     :height 1000.5091140796033},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1687929844742},
               :properties {:color "yellow"}}
              {:id #uuid "649bc43d-841d-4ce4-bf99-932558747b59",
               :page 966,
               :position {:bounding {:x1 28,
                                     :y1 93.3125,
                                     :x2 573,
                                     :y2 891.3125,
                                     :width 660.0000000000001,
                                     :height 1000.6457427680544},
                          :rects (),
                          :page 966},
               :content {:text "[:span]", :image 1687929916194},
               :properties {:color "yellow"}}
              {:id #uuid "649bc4ed-1d2c-47bc-b3d5-0bbbce13ff85",
               :page 178,
               :position {:bounding {:x1 70,
                                     :y1 90,
                                     :x2 602,
                                     :y2 437,
                                     :width 659.9098832578568,
                                     :height 1000.5091140796033},
                          :rects (),
                          :page 178},
               :content {:text "[:span]", :image 1687930092564},
               :properties {:color "yellow"}}
              {:id #uuid "649bc56c-1baa-4623-ae0f-704a6ed8a917",
               :page 970,
               :position {:bounding {:x1 69,
                                     :y1 112.6875,
                                     :x2 596,
                                     :y2 381.3542175292969,
                                     :width 660.0000000000001,
                                     :height 1000.6457427680544},
                          :rects (),
                          :page 970},
               :content {:text "[:span]", :image 1687930222541},
               :properties {:color "yellow"}}],
 :extra {:page 969}}
