{:highlights [{:id #uuid "64cdd0be-0b82-4eb3-914f-7cc050427eb5",
               :page 13,
               :position {:bounding {:x1 252,
                                     :y1 832,
                                     :x2 856,
                                     :y2 1156,
                                     :width 895,
                                     :height 1265.7367466236644},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1691209916560},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd0cc-dd89-48b0-bcab-19f038f8397b",
               :page 14,
               :position {:bounding {:x1 52,
                                     :y1 333,
                                     :x2 861,
                                     :y2 619,
                                     :width 895,
                                     :height 1265.7367466236644},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1691209932013},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd0ef-87dc-4ae5-bc47-8989d78e66f4",
               :page 8,
               :position {:bounding {:x1 47,
                                     :y1 847,
                                     :x2 444,
                                     :y2 1159,
                                     :width 895,
                                     :height 1265.7367466236644},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1691209966659},
               :properties {:color "yellow"}}
              {:id #uuid "64cddb44-5d5a-4801-adb7-9f3937afcd40",
               :page 13,
               :position {:bounding {:x1 151,
                                     :y1 260.6669921875,
                                     :x2 530,
                                     :y2 443.6669921875,
                                     :width 551,
                                     :height 779.2412819995968},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1691212611157},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
