{:highlights [{:id #uuid "64cdce89-7671-4914-ab0b-5f6199644e46",
               :page 18,
               :position {:bounding {:x1 14,
                                     :y1 139,
                                     :x2 874,
                                     :y2 481,
                                     :width 895,
                                     :height 503.4375},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1691209351309},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd112-babf-4169-958a-e1ec1667216a",
               :page 9,
               :position {:bounding {:x1 620,
                                     :y1 154,
                                     :x2 878,
                                     :y2 461,
                                     :width 895,
                                     :height 503.4375},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1691210001231},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd12a-09cf-4692-a1c5-7546d0badc3a",
               :page 19,
               :position {:bounding {:x1 10.465921787709497,
                                     :y1 109.83948112786149,
                                     :x2 282.7784217877095,
                                     :y2 286.8811452513967,
                                     :width 551,
                                     :height 309.9375},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1691212501339},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd152-4ee4-4918-9c13-73915e2ca86b",
               :page 19,
               :position {:bounding {:x1 458,
                                     :y1 174,
                                     :x2 874,
                                     :y2 468,
                                     :width 895,
                                     :height 503.4375},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1691210066221},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd169-efd1-4683-a43f-1aab9a919f61",
               :page 21,
               :position {:bounding {:x1 580,
                                     :y1 166.33334350585938,
                                     :x2 882,
                                     :y2 466,
                                     :width 895,
                                     :height 503.4375},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1691210094223},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd185-ef6f-41b5-b10a-982d653526dc",
               :page 23,
               :position {:bounding {:x1 16,
                                     :y1 308,
                                     :x2 441,
                                     :y2 478,
                                     :width 895,
                                     :height 503.4375},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1691210116794},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd25c-4faa-44af-92d7-86ead1fe35fd",
               :page 18,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 775.909423828125,
                                     :y2 103.04165649414062,
                                     :width 799,
                                     :height 449.4375},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.333343505859375,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.333343505859375,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 31.729167938232422,
                                   :y1 61,
                                   :x2 775.909423828125,
                                   :y2 74.33334350585938,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 42.520835876464844,
                                   :y1 75.35415649414062,
                                   :x2 775.9091796875,
                                   :y2 88.68753051757812,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 42.520835876464844,
                                   :y1 89.70834350585938,
                                   :x2 741.8035888671875,
                                   :y2 103.04165649414062,
                                   :width 799,
                                   :height 449.4375}),
                          :page 18},
               :content {:text " 公司主营业务为MRI设备零部件。根据中国证监会颁布的《上市公司行业分类指引》（2012年修订）分类，公司属于“专用设备制造业”，分类代码为C35。根据国家统计局发布的《国民经济行业分类》（GB/T4754-2017），公司所处行业为“专用设备制造业”（分类代码为C35）大类下的“医疗仪器设备及器械制造”（分类代码为 C358）之“医疗诊断、监护及治疗设备制造业”（分类代码为C3581）。公司具体的细分行业为磁共振成像（MRI）设备行业，处于产业链上游零部件供应环节。"},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd29a-9f35-4dad-8ade-0232f96b6e51",
               :page 21,
               :position {:bounding {:x1 17,
                                     :y1 150,
                                     :x2 516,
                                     :y2 432,
                                     :width 799,
                                     :height 449.4375},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1691210394185},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
