{:highlights [{:id #uuid "64c9504f-79bf-4e48-9d7d-141f2e55b897",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 765.9196166992188,
                                     :y2 138.17709350585938,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.333343505859375,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 290.375,
                                   :y1 96.44793701171875,
                                   :x2 765.9196166992188,
                                   :y2 115.78125,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 250.36459350585938,
                                   :y1 118.84375,
                                   :x2 480.95855712890625,
                                   :y2 138.17709350585938,
                                   :width 816,
                                   :height 1154.0124974803466}),
                          :page 4},
               :content {:text "石化板块是未来万华化学产业布局的重要组成部分，其项目定位以及未来盈利能力一直是市场较为关心的问题。"},
               :properties {:color "green"}}
              {:id #uuid "64c95075-c801-4c9d-ad08-7e17f96bc0b9",
               :page 4,
               :position {:bounding {:x1 281.3333435058594,
                                     :y1 342.2083435058594,
                                     :x2 540.6708984375,
                                     :y2 361.5416717529297,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects ({:x1 281.3333435058594,
                                   :y1 342.2083435058594,
                                   :x2 540.6708984375,
                                   :y2 361.5416717529297,
                                   :width 816,
                                   :height 1154.0124974803466}),
                          :page 4},
               :content {:text "万华化学百万吨乙烯项目位于烟台工业园"},
               :properties {:color "green"}}
              {:id #uuid "64c950b9-0854-4581-b675-5ba79257543c",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 770.1452331542969,
                                     :y2 227.48959350585938,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.333335876464844,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.333335876464844,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 290.375,
                                   :y1 163.4166717529297,
                                   :x2 766.8204345703125,
                                   :y2 182.75,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 250.36459350585938,
                                   :y1 185.7916717529297,
                                   :x2 770.1452331542969,
                                   :y2 205.125,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 250.36459350585938,
                                   :y1 208.15625,
                                   :x2 293.8360595703125,
                                   :y2 227.48959350585938,
                                   :width 816,
                                   :height 1154.0124974803466}),
                          :page 6},
               :content {:text "从原材料供应商向功能材料供应商的转型发展。我们认为优质化工企业的成长路径可以划分为三部曲：原材料供应商，功能材料供应商，一站式综合解决方案供应商"},
               :properties {:color "yellow"}}
              {:id #uuid "64c95198-133a-459e-9f58-2d0ed421ce0f",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 769.18017578125,
                                     :y2 592.84375,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.33331298828125,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 336.82696533203125,
                                   :y1 528.7708358764648,
                                   :x2 769.18017578125,
                                   :y2 548.1041717529297,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 250.36459350585938,
                                   :y1 551.1458435058594,
                                   :x2 769.1417236328125,
                                   :y2 570.4791717529297,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 250.36459350585938,
                                   :y1 573.5104217529297,
                                   :x2 394.48577880859375,
                                   :y2 592.84375,
                                   :width 816,
                                   :height 1154.0124974803466}),
                          :page 9},
               :content {:text "乙烷裂解的经济性优于丙烷裂解制乙烯经济性，一方面由于转换率较高，纯乙烷裂解制乙烯综合收率高达80%，而丙烷路线仅为43%，丙烷路线副产燃料气与其他组分较多。"},
               :properties {:color "green"}}
              {:id #uuid "64c951b6-e537-4bff-bf7e-a19bf479d708",
               :page 9,
               :position {:bounding {:x1 220,
                                     :y1 636,
                                     :x2 783,
                                     :y2 955,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1690915256526},
               :properties {:color "yellow"}}
              {:id #uuid "64c951d7-c560-4a8d-86e0-7f5aede6f6f3",
               :page 10,
               :position {:bounding {:x1 224,
                                     :y1 454,
                                     :x2 791,
                                     :y2 676,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1690915286290},
               :properties {:color "yellow"}}
              {:id #uuid "64c9521c-9477-45c4-89bd-42c64d6ba993",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 769.1801452636719,
                                     :y2 241.14584350585938,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333335876464844,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 290.375,
                                   :y1 177.2291717529297,
                                   :x2 766.066650390625,
                                   :y2 196.5625,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 250.36459350585938,
                                   :y1 199.6041717529297,
                                   :x2 769.1801452636719,
                                   :y2 218.9375,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 250.36459350585938,
                                   :y1 221.8125,
                                   :x2 552.9739990234375,
                                   :y2 241.14584350585938,
                                   :width 816,
                                   :height 1154.0124974803466}),
                          :page 12},
               :content {:text "产品竞争力对于万华化学石化项目自身适用性不强，因为万华化学石化项目大部分装置属于交钥匙工程，差异化不大，这也符合上文我们论述的石化项目的定位：为下游新材料领域提供丰富稳定的原材料。"},
               :properties {:color "blue"}}
              {:id #uuid "64c952a1-d4a7-4f5d-a790-1fdbbdb57757",
               :page 17,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 608.8297119140625,
                                     :y2 116.85417175292969,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 816,
                                   :height 1154.0124974803466}
                                  {:x1 250.36459350585938,
                                   :y1 95.52083587646484,
                                   :x2 608.8297119140625,
                                   :y2 116.85417175292969,
                                   :width 816,
                                   :height 1154.0124974803466}),
                          :page 17},
               :content {:text "2.4. 万华化学 C2 与 C3 项目的盈利能力模拟测算"},
               :properties {:color "purple"}}
              {:id #uuid "64c95300-6228-43e1-a7bf-64f2d400ba04",
               :page 19,
               :position {:bounding {:x1 42,
                                     :y1 91,
                                     :x2 786,
                                     :y2 528,
                                     :width 816,
                                     :height 1154.0124974803466},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1690915583606},
               :properties {:color "yellow"}}
              {:id #uuid "64c95ca7-7f44-41f5-b70b-d3cf87b8e281",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 475.19580078125,
                                     :y2 336.84375,
                                     :width 774.0000000000001,
                                     :height 1094.6147954041523},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 774.0000000000001,
                                   :height 1094.6147954041523}
                                  {:x1 237.4791717529297,
                                   :y1 318.84375,
                                   :x2 475.19580078125,
                                   :y2 336.84375,
                                   :width 774.0000000000001,
                                   :height 1094.6147954041523}),
                          :page 9},
               :content {:text "维度一：成本竞争力-原材料与加工成本"},
               :properties {:color "purple"}}
              {:id #uuid "64c95cb9-674c-4a84-92e4-a1346c99d56e",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 461.4571228027344,
                                     :y2 158.20834350585938,
                                     :width 774.0000000000001,
                                     :height 1094.6147954041523},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 774.0000000000001,
                                   :height 1094.6147954041523}
                                  {:x1 237.4791717529297,
                                   :y1 140.20834350585938,
                                   :x2 461.4571228027344,
                                   :y2 158.20834350585938,
                                   :width 774.0000000000001,
                                   :height 1094.6147954041523}),
                          :page 12},
               :content {:text "维度二：产品竞争力-更多体现在下游"},
               :properties {:color "purple"}}
              {:id #uuid "64c95cd7-3992-4620-a052-a91f004a1711",
               :page 13,
               :position {:bounding {:x1 220,
                                     :y1 86,
                                     :x2 736,
                                     :y2 260,
                                     :width 774.0000000000001,
                                     :height 1094.6147954041523},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1690918103234},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
