{:highlights [{:id #uuid "649b2e48-3cad-408d-98a3-3f5088bc8578",
               :page 7,
               :position {:bounding {:x1 51,
                                     :y1 628.3330078125,
                                     :x2 875,
                                     :y2 1098.3330078125,
                                     :width 989,
                                     :height 1398.6744607941946},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1687891527415},
               :properties {:color "yellow"}}
              {:id #uuid "649b2e77-aeea-44b5-8f02-1502cd960670",
               :page 8,
               :position {:bounding {:x1 46,
                                     :y1 186.3330078125,
                                     :x2 658,
                                     :y2 474.3330078125,
                                     :width 989,
                                     :height 1398.6744607941946},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1687891574761},
               :properties {:color "yellow"}}
              {:id #uuid "649b9a1d-35bd-4488-97db-976d7f9745e5",
               :page 5,
               :position {:bounding {:x1 44,
                                     :y1 190,
                                     :x2 947,
                                     :y2 689,
                                     :width 989,
                                     :height 1398.6744607941946},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1687919132278},
               :properties {:color "yellow"}}
              {:id #uuid "649b9b2b-3036-46e9-89cb-0db8e7cba304",
               :page 9,
               :position {:bounding {:x1 45,
                                     :y1 595,
                                     :x2 678,
                                     :y2 972,
                                     :width 989,
                                     :height 1398.6744607941946},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1687919402107},
               :properties {:color "yellow"}}
              {:id #uuid "649b9b80-0c47-4ecf-bf8e-e34757feb3d5",
               :page 20,
               :position {:bounding {:x1 48,
                                     :y1 207.666015625,
                                     :x2 769,
                                     :y2 699.666015625,
                                     :width 940.0000000000001,
                                     :height 1329.3771417053013},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1687919487170},
               :properties {:color "yellow"}}
              {:id #uuid "649bab83-a5da-4fad-bdde-338a98d8208e",
               :page 8,
               :position {:bounding {:x1 36,
                                     :y1 512.3330078125,
                                     :x2 584,
                                     :y2 660.3330078125,
                                     :width 807.0000000000001,
                                     :height 1141.2844184640194},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1687923586251},
               :properties {:color "yellow"}}
              {:id #uuid "649bc31f-c264-428d-a2e7-a943533a3fc8",
               :page 12,
               :position {:bounding {:x1 33,
                                     :y1 728.3330078125,
                                     :x2 518,
                                     :y2 842.3330078125,
                                     :width 660,
                                     :height 933.3924611973392},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1687929630837},
               :properties {:color "yellow"}}
              {:id #uuid "649bc337-0f3c-4be3-ae46-97427b82f645",
               :page 14,
               :position {:bounding {:x1 31,
                                     :y1 108.3330078125,
                                     :x2 624,
                                     :y2 504.3330078125,
                                     :width 660,
                                     :height 933.3924611973392},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1687929651295},
               :properties {:color "yellow"}}
              {:id #uuid "649bc34a-bda0-43bc-9825-1c8bce19493a",
               :page 18,
               :position {:bounding {:x1 35,
                                     :y1 165.6669921875,
                                     :x2 509,
                                     :y2 449.6669921875,
                                     :width 660,
                                     :height 933.3924611973392},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1687929673896},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
