{:highlights [{:id #uuid "64ca7aab-5e16-4243-85b2-26996e498a3d",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 849.6568603515625,
                                     :y2 728.0104370117188,
                                     :width 906,
                                     :height 1281.29328764362},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 906,
                                   :height 1281.29328764362}
                                  {:x1 261.72918701171875,
                                   :y1 635.4166870117188,
                                   :x2 849.6568603515625,
                                   :y2 656.7500305175781,
                                   :width 906,
                                   :height 1281.29328764362}
                                  {:x1 261.72918701171875,
                                   :y1 659.1666870117188,
                                   :x2 841.6735229492188,
                                   :y2 680.5000305175781,
                                   :width 906,
                                   :height 1281.29328764362}
                                  {:x1 261.72918701171875,
                                   :y1 682.9062805175781,
                                   :x2 841.48583984375,
                                   :y2 704.2396087646484,
                                   :width 906,
                                   :height 1281.29328764362}
                                  {:x1 261.72918701171875,
                                   :y1 706.6771087646484,
                                   :x2 373.90625,
                                   :y2 728.0104370117188,
                                   :width 906,
                                   :height 1281.29328764362}),
                          :page 25},
               :content {:text "产业链一体化优势：产业链一体化程度是决定石化产品原材料成本的重要因素之一，公司以 LPG 为原料，采用轻烃裂解工艺路线生产乙烯、丙烯等石化中间产品，进而延伸到石化下游，真正做到从产业链源头 LPG 端进行成本把控，涉及 C2、C3、C4等多系列产品。"},
               :properties {:color "yellow"}}
              {:id #uuid "64ca7adb-3409-4dd5-88f8-06bbc0cd79fb",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 841.6812744140625,
                                     :y2 989.1563110351562,
                                     :width 906,
                                     :height 1281.29328764362},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333343505859375,
                                   :width 906,
                                   :height 1281.29328764362}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 906,
                                   :height 1281.29328764362}
                                  {:x1 745.7337646484375,
                                   :y1 920.3437805175781,
                                   :x2 841.6812744140625,
                                   :y2 941.6771240234375,
                                   :width 906,
                                   :height 1281.29328764362}
                                  {:x1 261.72918701171875,
                                   :y1 944.0833740234375,
                                   :x2 841.402099609375,
                                   :y2 965.4166870117188,
                                   :width 906,
                                   :height 1281.29328764362}
                                  {:x1 261.72918701171875,
                                   :y1 967.8229370117188,
                                   :x2 437.7723083496094,
                                   :y2 989.1563110351562,
                                   :width 906,
                                   :height 1281.29328764362}),
                          :page 25},
               :content {:text "我们认为乙烯二期项目的获批投产将进一步提升公司在石化产业链以及高端聚烯烃材料领域的一体化程度和技术领先型。"},
               :properties {:color "red"}}],
 :extra {:page 37}}
