{:highlights [{:id #uuid "64cdd71f-1b49-49fc-8d13-dea4391f6c13",
               :page 15,
               :position {:bounding {:x1 74,
                                     :y1 641.6669921875,
                                     :x2 664,
                                     :y2 927.6669921875,
                                     :width 727.3221666666666,
                                     :height 1106.0788333333333},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1691211550163},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd727-af5b-405a-8a5a-2d1d6e6d0ae6",
               :page 16,
               :position {:bounding {:x1 61,
                                     :y1 119.6669921875,
                                     :x2 669,
                                     :y2 553.6669921875,
                                     :width 727.3221666666666,
                                     :height 1106.0788333333333},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1691211559183},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd735-48f0-4b7a-8340-c3859adbe440",
               :page 18,
               :position {:bounding {:x1 301,
                                     :y1 449.666015625,
                                     :x2 434,
                                     :y2 500.666015625,
                                     :width 727.3221666666666,
                                     :height 1106.0788333333333},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1691211572841},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd868-0659-48b6-adb3-1ca6e2527741",
               :page 24,
               :position {:bounding {:x1 120,
                                     :y1 643,
                                     :x2 560,
                                     :y2 851,
                                     :width 727.3221666666666,
                                     :height 1106.0788333333333},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1691211879468},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd900-759f-49a1-acd8-c71f485eb0b2",
               :page 29,
               :position {:bounding {:x1 73,
                                     :y1 593.666015625,
                                     :x2 652,
                                     :y2 885.666015625,
                                     :width 727.3221666666666,
                                     :height 1106.0788333333333},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1691212031294},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd981-5c6d-481e-8b09-a5b1c4d798d8",
               :page 46,
               :position {:bounding {:x1 68,
                                     :y1 621,
                                     :x2 646,
                                     :y2 894,
                                     :width 727.3221666666666,
                                     :height 1106.0788333333333},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1691212160316},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd990-33fb-40a4-8bf6-39594d7605e2",
               :page 49,
               :position {:bounding {:x1 114,
                                     :y1 133,
                                     :x2 617,
                                     :y2 653,
                                     :width 727.3221666666666,
                                     :height 1106.0788333333333},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1691212175151},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd99a-69a0-402f-b6ad-a7f081866b87",
               :page 52,
               :position {:bounding {:x1 102,
                                     :y1 107.66796875,
                                     :x2 648,
                                     :y2 567.66796875,
                                     :width 727.3221666666666,
                                     :height 1106.0788333333333},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1691212184659},
               :properties {:color "yellow"}}],
 :extra {:page 131}}
