{:highlights [{:id #uuid "64bcb6eb-0a53-4fe0-b372-f1984bc7e214",
               :page 3,
               :position {:bounding {:x1 89,
                                     :y1 131.333251953125,
                                     :x2 983,
                                     :y2 489.333251953125,
                                     :width 1015.9999999999999,
                                     :height 1314.764948049402},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1690089194850},
               :properties {:color "yellow"}}
              {:id #uuid "64bcb6fb-0268-4a7a-9ff9-9ec21cafd418",
               :page 4,
               :position {:bounding {:x1 81,
                                     :y1 143.333251953125,
                                     :x2 919,
                                     :y2 554.333251953125,
                                     :width 1015.9999999999999,
                                     :height 1314.764948049402},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1690089210737},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc182-b5de-45d4-89fc-3c63e18839cf",
               :page 9,
               :position {:bounding {:x1 46,
                                     :y1 98.66650390625,
                                     :x2 558,
                                     :y2 399.66650390625,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1690091906082},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc194-44fa-4b94-ad1c-be87fef0f976",
               :page 10,
               :position {:bounding {:x1 44,
                                     :y1 42,
                                     :x2 541,
                                     :y2 362,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1690091922874},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc1a3-79a9-470b-a395-da34e22e470c",
               :page 11,
               :position {:bounding {:x1 43,
                                     :y1 53,
                                     :x2 555,
                                     :y2 326,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1690091938923},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc2bb-4ba1-44c8-b3a9-2d26028bb7fe",
               :page 12,
               :position {:bounding {:x1 48,
                                     :y1 44,
                                     :x2 554,
                                     :y2 321,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1690092213630},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc2d2-e15f-495c-9ac8-a6e3ffead678",
               :page 13,
               :position {:bounding {:x1 47,
                                     :y1 52.6669921875,
                                     :x2 564,
                                     :y2 295.6669921875,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1690092241126},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc369-654b-449f-840b-5191d08debad",
               :page 14,
               :position {:bounding {:x1 59,
                                     :y1 57.6669921875,
                                     :x2 568,
                                     :y2 327.6669921875,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1690092392967},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc37a-04ab-4188-8d60-54673ce47980",
               :page 15,
               :position {:bounding {:x1 40.66666668653488,
                                     :y1 51.6669921875,
                                     :x2 565.6666666865349,
                                     :y2 340.6669921875,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1690092409404},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc3a1-84fc-496d-a59c-23b96876b531",
               :page 16,
               :position {:bounding {:x1 51.66666668653488,
                                     :y1 48.6669921875,
                                     :x2 557.6666666865349,
                                     :y2 310.6669921875,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1690092448946},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc3aa-79ab-4571-8d3f-1d78f83bc07e",
               :page 17,
               :position {:bounding {:x1 40,
                                     :y1 33.6669921875,
                                     :x2 544,
                                     :y2 354.6669921875,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1690092457173},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc3b6-83b7-4ef6-be23-c2207c2371d6",
               :page 18,
               :position {:bounding {:x1 38,
                                     :y1 58,
                                     :x2 505,
                                     :y2 307,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1690092469402},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc3e9-6adc-4ed6-bfda-e38a9ad49a0f",
               :page 19,
               :position {:bounding {:x1 53,
                                     :y1 52.6669921875,
                                     :x2 552,
                                     :y2 311.6669921875,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1690092520413},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc3ff-c2df-4e8c-a196-98a70a204e50",
               :page 20,
               :position {:bounding {:x1 54,
                                     :y1 421.6669921875,
                                     :x2 540,
                                     :y2 722.6669921875,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1690092542477},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc42d-691a-4af4-8b8e-e9b6d99c47e0",
               :page 21,
               :position {:bounding {:x1 53,
                                     :y1 270,
                                     :x2 560,
                                     :y2 462,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1690092589102},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc4f4-ee15-4940-b2a3-9cf2a7556806",
               :page 22,
               :position {:bounding {:x1 46,
                                     :y1 49,
                                     :x2 542,
                                     :y2 278,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1690092786740},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc524-7bca-44c8-964a-b1f9d2b05d51",
               :page 30,
               :position {:bounding {:x1 48,
                                     :y1 99.666015625,
                                     :x2 509,
                                     :y2 256.666015625,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1690092835600},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc559-afbe-4768-b106-ef21598a910e",
               :page 32,
               :position {:bounding {:x1 58,
                                     :y1 289,
                                     :x2 554,
                                     :y2 505,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1690092888845},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc568-eeab-4915-9c37-d727de5f6764",
               :page 34,
               :position {:bounding {:x1 54,
                                     :y1 212.666015625,
                                     :x2 561,
                                     :y2 753.666015625,
                                     :width 598,
                                     :height 773.8478729660851},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1690092903507},
               :properties {:color "yellow"}}],
 :extra {:page 34}}
