{:highlights [{:id #uuid "64bcc597-e321-4346-a96f-55b459a229ce",
               :page 2,
               :position {:bounding {:x1 211,
                                     :y1 37,
                                     :x2 564,
                                     :y2 302,
                                     :width 598,
                                     :height 761.1267871212784},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1690092950464},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc59f-075f-41e6-840e-25b60a3c04b8",
               :page 2,
               :position {:bounding {:x1 214,
                                     :y1 338,
                                     :x2 565,
                                     :y2 696,
                                     :width 598,
                                     :height 761.1267871212784},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1690092958581},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc5ad-daea-48cd-9f6b-f7deda41fd9d",
               :page 3,
               :position {:bounding {:x1 27,
                                     :y1 39,
                                     :x2 546,
                                     :y2 540,
                                     :width 598,
                                     :height 761.1267871212784},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1690092973200},
               :properties {:color "yellow"}}
              {:id #uuid "64bcc5b3-e75a-41a0-9b39-2c78ba6f9932",
               :page 4,
               :position {:bounding {:x1 19,
                                     :y1 47,
                                     :x2 385,
                                     :y2 620,
                                     :width 598,
                                     :height 761.1267871212784},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1690092978499},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
