{:highlights [{:id #uuid "64b532ef-83ad-40ff-96d1-e185b7240d08",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 604.0194091796875,
                                     :y2 451.6145935058594,
                                     :width 679.9999999999999,
                                     :height 961.47746804168},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.33334350585938,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.33334350585938,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 161.33334350585938,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 436.2859802246094,
                                   :y1 327.3125,
                                   :x2 604.0194091796875,
                                   :y2 349.97918701171875,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 361.1458435058594,
                                   :x2 595.6798706054688,
                                   :y2 383.8125,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 364.47918701171875,
                                   :x2 595.6798706054688,
                                   :y2 381.60418701171875,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 395.1145935058594,
                                   :x2 595.6798706054688,
                                   :y2 417.78125,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 398.44793701171875,
                                   :x2 595.6798706054688,
                                   :y2 415.57293701171875,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 428.94793701171875,
                                   :x2 425.1546325683594,
                                   :y2 451.6145935058594,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}),
                          :page 4},
               :content {:text "广泛开展有机、节能、环保、低碳等领域认证认可工作，全面推行统一的绿色产品认证，着力提升机动车检测、环境监测、碳排放审定核查等服务能力，助力脱贫攻坚和绿色发展、生态文明建设成效明显；"},
               :properties {:color "yellow"}}
              {:id #uuid "64b5331c-d31e-41fc-bcac-84ced7e51d74",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 206.00001525878906,
                                     :x2 599.7720947265625,
                                     :y2 790.5937805175781,
                                     :width 679.9999999999999,
                                     :height 961.47746804168},
                          :rects ({:x1 0,
                                   :y1 206.00001525878906,
                                   :x2 0,
                                   :y2 225.3333511352539,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 0,
                                   :y1 222.00001525878906,
                                   :x2 0,
                                   :y2 241.3333511352539,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 0,
                                   :y1 238.00001525878906,
                                   :x2 0,
                                   :y2 257.3333511352539,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 0,
                                   :y1 254.00001525878906,
                                   :x2 0,
                                   :y2 273.3333511352539,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 0,
                                   :y1 270.0000190734863,
                                   :x2 0,
                                   :y2 289.3333511352539,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 0,
                                   :y1 286.0000190734863,
                                   :x2 0,
                                   :y2 305.33335304260254,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 0,
                                   :y1 302.0000190734863,
                                   :x2 0,
                                   :y2 321.33335304260254,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 118.0625,
                                   :y1 530.7083587646484,
                                   :x2 414.5419921875,
                                   :y2 553.3750305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 430.75,
                                   :y1 530.7083587646484,
                                   :x2 599.7720947265625,
                                   :y2 553.3750305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 152.02084350585938,
                                   :y1 534.0416870117188,
                                   :x2 414.5419921875,
                                   :y2 551.1666870117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 430.75,
                                   :y1 534.0416870117188,
                                   :x2 599.7720947265625,
                                   :y2 551.1666870117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 564.5416870117188,
                                   :x2 112.24034881591797,
                                   :y2 587.2083740234375,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 132.4375,
                                   :y1 564.5416870117188,
                                   :x2 158.94920349121094,
                                   :y2 587.2083740234375,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 176.1354217529297,
                                   :y1 564.5416870117188,
                                   :x2 204.185302734375,
                                   :y2 587.2083740234375,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 224.20834350585938,
                                   :y1 564.5416870117188,
                                   :x2 595.6617431640625,
                                   :y2 587.2083740234375,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 567.8750305175781,
                                   :x2 112.24034881591797,
                                   :y2 585.0000305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 132.4375,
                                   :y1 567.8750305175781,
                                   :x2 158.94920349121094,
                                   :y2 585.0000305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 176.1354217529297,
                                   :y1 567.8750305175781,
                                   :x2 204.185302734375,
                                   :y2 585.0000305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 224.20834350585938,
                                   :y1 567.8750305175781,
                                   :x2 595.6617431640625,
                                   :y2 585.0000305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 598.5000305175781,
                                   :x2 289.54168701171875,
                                   :y2 621.1666870117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 309.53125,
                                   :y1 598.5000305175781,
                                   :x2 595.5140380859375,
                                   :y2 621.1666870117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 601.8333740234375,
                                   :x2 289.54168701171875,
                                   :y2 618.9583740234375,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 309.53125,
                                   :y1 601.8333740234375,
                                   :x2 595.5140380859375,
                                   :y2 618.9583740234375,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 632.3333740234375,
                                   :x2 110.06298065185547,
                                   :y2 655.0000305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 126.27083587646484,
                                   :y1 632.3333740234375,
                                   :x2 266.8020935058594,
                                   :y2 655.0000305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 295.15625,
                                   :y1 632.3333740234375,
                                   :x2 595.526123046875,
                                   :y2 655.0000305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 635.6666870117188,
                                   :x2 110.06298065185547,
                                   :y2 652.7916870117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 126.27083587646484,
                                   :y1 635.6666870117188,
                                   :x2 266.8020935058594,
                                   :y2 652.7916870117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 295.15625,
                                   :y1 635.6666870117188,
                                   :x2 595.526123046875,
                                   :y2 652.7916870117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 666.3021240234375,
                                   :x2 232.76060485839844,
                                   :y2 688.9687805175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 259.94793701171875,
                                   :y1 666.3021240234375,
                                   :x2 595.5177001953125,
                                   :y2 688.9687805175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 669.6354370117188,
                                   :x2 232.76060485839844,
                                   :y2 686.7604370117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 259.94793701171875,
                                   :y1 669.6354370117188,
                                   :x2 595.5177001953125,
                                   :y2 686.7604370117188,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 700.1354370117188,
                                   :x2 595.662353515625,
                                   :y2 722.8021240234375,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 703.4687805175781,
                                   :x2 595.662353515625,
                                   :y2 720.5937805175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 734.1041870117188,
                                   :x2 595.6798706054688,
                                   :y2 756.7708740234375,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 737.4375305175781,
                                   :x2 595.6798706054688,
                                   :y2 754.5625305175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}
                                  {:x1 84.09375,
                                   :y1 767.9271240234375,
                                   :x2 202.5723114013672,
                                   :y2 790.5937805175781,
                                   :width 679.9999999999999,
                                   :height 961.47746804168}),
                          :page 5},
               :content {:text "—国际影响逐步增强。我国累计加入 个合格评定国际组织，在 、 、 等国际组织担任一系列重要职务，积极参与合格评定国际标准、规则制定，与 多个国家和地区建立合作机制，对外签署 项多边互认协议和 份双边合作互认安排，在《区域全面经济伙伴关系协定》（ ）框架下达成合格评定合作互认成果，“一带一路”认证认可合作机制建设取得实质进展，内地与香港、澳门认证认可检验检测合作深度推进，认证认可检验检测促进国际贸易便利化作用日益显现。"},
               :properties {:color "yellow"}}
              {:id #uuid "64b5336b-1524-4fb5-a0aa-72e37b744918",
               :page 11,
               :position {:bounding {:x1 49,
                                     :y1 216.6669921875,
                                     :x2 633,
                                     :y2 450.6669921875,
                                     :width 679.9999999999999,
                                     :height 961.47746804168},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1689596778515},
               :properties {:color "green"}}],
 :extra {:page 11}}
