{:highlights [{:id #uuid "64ca81ce-332d-4575-8105-1c15e633c2d0",
               :page 8,
               :position {:bounding {:x1 90.60624694824219,
                                     :y1 80.08332824707031,
                                     :x2 259.1343994140625,
                                     :y2 104.75,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 90.60624694824219,
                                   :y1 80.08332824707031,
                                   :x2 259.1343994140625,
                                   :y2 104.75,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 8},
               :content {:text "乙烯：石化工业之母"},
               :properties {:color "purple"}}
              {:id #uuid "64ca81f1-133f-4145-9924-3aac014896f4",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 -2.0000001192092896,
                                     :x2 690.4246826171875,
                                     :y2 204.22917687892914,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 0,
                                   :y1 -2.0000001192092896,
                                   :x2 0,
                                   :y2 17.33333384990692,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 263.595703125,
                                   :y1 166.83333337306976,
                                   :x2 690.4246826171875,
                                   :y2 184.16667687892914,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 186.89583337306976,
                                   :x2 411.3383903503418,
                                   :y2 204.22917687892914,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 8},
               :content {:text "下游衍生物产品种类众多，产品规模占全球石化产品总量的 75%以上，广泛应用于包装、农业、建筑、纺织、电子电器、汽车等领域，"},
               :properties {:color "red"}}
              {:id #uuid "64ca81ff-f049-46be-bbbc-f642d6fc2195",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 703.28125,
                                     :y2 264.13542687892914,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 545.8333740234375,
                                   :y1 206.82292687892914,
                                   :x2 690.44384765625,
                                   :y2 224.15625512599945,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 226.73958337306976,
                                   :x2 703.28125,
                                   :y2 244.07292687892914,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 246.80208337306976,
                                   :x2 332.9895935058594,
                                   :y2 264.13542687892914,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 8},
               :content {:text "近年来，受益于新兴产业发展和化工技术革新，以乙烯为原料的新材料应用蓬勃兴起，产业链加快向精细化、高端化方向发展，如 EVA、 POE、ABS 等化工新材料发展迅速、潜力较大。"},
               :properties {:color "red"}}
              {:id #uuid "64ca8226-e906-42a9-be79-93feda28fd3e",
               :page 9,
               :position {:bounding {:x1 45,
                                     :y1 251.3330078125,
                                     :x2 693,
                                     :y2 528.3330078125,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1690993189531},
               :properties {:color "yellow"}}
              {:id #uuid "64ca8242-8f0f-4a60-b3eb-047fc7c50010",
               :page 9,
               :position {:bounding {:x1 33,
                                     :y1 654,
                                     :x2 731,
                                     :y2 955,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1690993217599},
               :properties {:color "yellow"}}
              {:id #uuid "64ca8276-6fe5-4951-ba20-43bceda82baf",
               :page 22,
               :position {:bounding {:x1 40,
                                     :y1 141,
                                     :x2 604,
                                     :y2 292,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1690993269261},
               :properties {:color "yellow"}}
              {:id #uuid "64ca82ac-494a-48df-8bc9-aa06b0ec4de8",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 310.5977478027344,
                                     :y2 725.6458435058594,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 710.9791717529297,
                                   :x2 310.5977478027344,
                                   :y2 725.6458435058594,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 24},
               :content {:text "表 6：石化行业节能降碳及高质量发展相关政策文件"},
               :properties {:color "blue"}}
              {:id #uuid "64ca82d6-1e06-4d74-a200-7038e5f9afe9",
               :page 24,
               :position {:bounding {:x1 636.587890625,
                                     :y1 854.25,
                                     :x2 666.5664672851562,
                                     :y2 867.5833435058594,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 636.587890625,
                                   :y1 854.25,
                                   :x2 666.5664672851562,
                                   :y2 867.5833435058594,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 24},
               :content {:text "乙烯、"},
               :properties {:color "red"}}
              {:id #uuid "64ca82dd-0028-4d9e-97fa-7cc48f703fed",
               :page 24,
               :position {:bounding {:x1 26,
                                     :y1 840,
                                     :x2 724,
                                     :y2 936,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1690993371138},
               :properties {:color "yellow"}}
              {:id #uuid "64ca83a8-9343-42fd-8e8e-42c97ae79257",
               :page 26,
               :position {:bounding {:x1 194,
                                     :y1 654,
                                     :x2 528,
                                     :y2 892,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1690993575571},
               :properties {:color "yellow"}}
              {:id #uuid "64ca83d3-36f3-4f2c-8dc4-54c060260d43",
               :page 26,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 690.4110717773438,
                                     :y2 624.84375,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.33331298828125,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 598.677490234375,
                                   :y1 567.5,
                                   :x2 690.4110717773438,
                                   :y2 584.8333435058594,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 587.59375,
                                   :x2 690.119384765625,
                                   :y2 604.9270935058594,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 607.5104370117188,
                                   :x2 407.5184440612793,
                                   :y2 624.84375,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 26},
               :content {:text "从已宣布的未来新增产能趋势看，2023 年后中国乙烯新增产能中，石脑油裂解占比达到 79%，CTO/MTO 路线占比为 10%，从产能分布看，我们预计未来油基路线仍为乙烯产业发展主线。"},
               :properties {:color "red"}}
              {:id #uuid "64ca83f4-4f7f-4a64-bb00-bc45dc749413",
               :page 26,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 690.34228515625,
                                     :y2 584.8333435058594,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 290.1458435058594,
                                   :y1 547.5833435058594,
                                   :x2 690.34228515625,
                                   :y2 564.9166870117188,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 567.5,
                                   :x2 598.6878662109375,
                                   :y2 584.8333435058594,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 26},
               :content {:text "2021 年中国的乙烯原料结构中，以石脑油为原料的油基生产路线占比达到 73%，以煤为主要原料的 CTO/MTO 路线占比为 21%，油基路线是当前乙烯生产的主流。"},
               :properties {:color "green"}}
              {:id #uuid "64ca8414-1ef5-4c43-84e7-f04a0e1bcb9b",
               :page 28,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 690.4815673828125,
                                     :y2 167.6875,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333343505859375,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 110.36459350585938,
                                   :x2 690.246826171875,
                                   :y2 127.69793701171875,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 130.4375,
                                   :x2 690.4815673828125,
                                   :y2 147.77084350585938,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 150.35418701171875,
                                   :x2 199.10497665405273,
                                   :y2 167.6875,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 28},
               :content {:text "乙烷裂解制乙烯低成本、高收率，具有明显竞争优势。轻烃裂解制乙烯以乙烷作为原材料为主，在乙烷制乙烯路线中，其乙烯产品收率高达 77.73%，远高于传统石脑油 49.15%的烯烃收率，且副产物较少，具备流程短、能耗低、高收率等优势。"},
               :properties {:color "red"}}
              {:id #uuid "64ca8454-d85b-46ef-8265-a231db2cd80e",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 690.4574584960938,
                                     :y2 282.5625,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333343505859375,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 238.87136840820312,
                                   :y1 225.23959350585938,
                                   :x2 689.9059448242188,
                                   :y2 242.57293701171875,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 245.15625,
                                   :x2 690.4574584960938,
                                   :y2 262.4895935058594,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 265.22918701171875,
                                   :x2 328.69746017456055,
                                   :y2 282.5625,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 33},
               :content {:text "国内炼化企业利用乙烯下游产品作为新能源材料的主要原料，其下游应用主要包括锂电隔膜、光伏级 EVA 材料、POE 材料等。新材料具备高附加价值属性，一方面能够进一步增厚企业利润，另一方面能够有效抵御乙烯产能过剩风险。"},
               :properties {:color "red"}}
              {:id #uuid "64ca84eb-a9c9-42cd-b119-7030cc5633d6",
               :page 39,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 556.4171142578125,
                                     :y2 294.54168701171875,
                                     :width 743,
                                     :height 1050.7736343479137},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.7736343479137}
                                  {:x1 53.16666793823242,
                                   :y1 277.2083435058594,
                                   :x2 556.4171142578125,
                                   :y2 294.54168701171875,
                                   :width 743,
                                   :height 1050.7736343479137}),
                          :page 39},
               :content {:text "2） 轻烃裂解路线成本优势凸显、行业进入壁垒高，拥有乙烷资源企业具备先发优势。"},
               :properties {:color "green"}}],
 :extra {:page 4}}
