{:highlights [{:id #uuid "64ca7e36-c35c-4c10-a34f-1b10d960320a",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 895.0428059697151,
                                     :y2 268.78125,
                                     :width 948.9999999999999,
                                     :height 1342.2965127998384},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 948.9999999999999,
                                   :height 1342.2965127998384}
                                  {:x1 469.12502032518387,
                                   :y1 219.8125,
                                   :x2 895.0428059697151,
                                   :y2 243.14584350585938,
                                   :width 948.9999999999999,
                                   :height 1342.2965127998384}
                                  {:x1 277.3958333134651,
                                   :y1 245.44793701171875,
                                   :x2 856.1421712040901,
                                   :y2 268.78125,
                                   :width 948.9999999999999,
                                   :height 1342.2965127998384}),
                          :page 6},
               :content {:text "2013 年，为实现“中国万华向全球万华转变，万华聚氨酯向万华化学转变”的战略，公司正式更名为万华化学集团股份有限公司。"},
               :properties {:color "red"}}
              {:id #uuid "64ca7e6e-d5ad-4f7c-9972-b3cecb956ed7",
               :page 23,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 936.1458320617676,
                                     :y2 382.37500762939453,
                                     :width 992.2,
                                     :height 1403.3999999999999},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 992.2,
                                   :height 1403.3999999999999}
                                  {:x1 326.8750190734863,
                                   :y1 224.97916412353516,
                                   :x2 935.3960151672363,
                                   :y2 248.97916412353516,
                                   :width 992.2,
                                   :height 1403.3999999999999}
                                  {:x1 290.0312690734863,
                                   :y1 251.7708511352539,
                                   :x2 935.6414375305176,
                                   :y2 275.7708511352539,
                                   :width 992.2,
                                   :height 1403.3999999999999}
                                  {:x1 290.0312690734863,
                                   :y1 278.37500762939453,
                                   :x2 935.7566719055176,
                                   :y2 302.37500762939453,
                                   :width 992.2,
                                   :height 1403.3999999999999}
                                  {:x1 290.0312690734863,
                                   :y1 304.97916412353516,
                                   :x2 935.9479560852051,
                                   :y2 328.97916412353516,
                                   :width 992.2,
                                   :height 1403.3999999999999}
                                  {:x1 290.0312690734863,
                                   :y1 331.7708511352539,
                                   :x2 936.1458320617676,
                                   :y2 355.7708511352539,
                                   :width 992.2,
                                   :height 1403.3999999999999}
                                  {:x1 290.0312690734863,
                                   :y1 358.37500762939453,
                                   :x2 618.2976875305176,
                                   :y2 382.37500762939453,
                                   :width 992.2,
                                   :height 1403.3999999999999}
                                  {:x1 558.6875190734863,
                                   :y1 361.7083511352539,
                                   :x2 564.1354560852051,
                                   :y2 380.10416412353516,
                                   :width 992.2,
                                   :height 1403.3999999999999}),
                          :page 23},
               :content {:text "全球乙烯仍处于快速发展阶段。北美页岩气革命成功带动新一轮投资热潮，目前正进入产能释放高峰期。同时，中国民营大炼化项目和外资大乙烯项目投资积极性高涨，产能持续增加。2020 年，全球乙烯产能约 1.96 亿吨，产量约 1.66亿吨，2015-2020 年产能和产量的年均复合增速分别为 4.33%和 3.46%。据石化联合会预测，2021 年全球乙烯产能将达到 2.06 亿吨/年，2025 年和 2030 年全球乙烯产能将分别达到 2.32 和 2.52 亿吨。"},
               :properties {:color "yellow"}}
              {:id #uuid "64ca7e78-0127-40a6-aac3-755445db79b1",
               :page 23,
               :position {:bounding {:x1 158,
                                     :y1 244,
                                     :x2 598,
                                     :y2 457,
                                     :width 611,
                                     :height 864.2183027615399},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1690992247831},
               :properties {:color "yellow"}}
              {:id #uuid "64ca7e98-608c-478a-ac4d-9e87b9e8e24f",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 511.59892781078815,
                                     :y2 258.16668701171875,
                                     :width 611,
                                     :height 864.2183027615399},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 178.59375508129597,
                                   :y1 244.16668701171875,
                                   :x2 511.59892781078815,
                                   :y2 258.16668701171875,
                                   :width 611,
                                   :height 864.2183027615399}),
                          :page 25},
               :content {:text "3.1.2. 中国乙烯产能和需求保持强劲增长，参与主体与原料走向多元化"},
               :properties {:color "red"}}
              {:id #uuid "64ca7eba-98f5-42ab-9ea0-e940a8ba9296",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 496.9425862580538,
                                     :y2 290.6145935058594,
                                     :width 611,
                                     :height 864.2183027615399},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 201.29167683422565,
                                   :y1 275.94793701171875,
                                   :x2 496.9425862580538,
                                   :y2 290.6145935058594,
                                   :width 611,
                                   :height 864.2183027615399}),
                          :page 25},
               :content {:text "中国是世界第二大乙烯生产国，正进入新一轮产能扩张期。"},
               :properties {:color "red"}}
              {:id #uuid "64ca7ec4-03b9-41d7-b567-57e0f00c6d5c",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 576.3780110627413,
                                     :y2 422.0208435058594,
                                     :width 611,
                                     :height 864.2183027615399},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 290.4583333283663,
                                   :y1 390.85418701171875,
                                   :x2 576.3780110627413,
                                   :y2 405.5208435058594,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 178.59375508129597,
                                   :y1 407.35418701171875,
                                   :x2 430.0747884064913,
                                   :y2 422.0208435058594,
                                   :width 611,
                                   :height 864.2183027615399}),
                          :page 25},
               :content {:text "预计到 2025 年和 2030 年，中国乙烯产能将分别达到 6200万吨/年和 7100 万吨/年，产能仍处于快速增长期。"},
               :properties {:color "red"}}
              {:id #uuid "64ca7ec8-5407-4ffa-9a74-8c88885443e8",
               :page 25,
               :position {:bounding {:x1 155,
                                     :y1 432,
                                     :x2 590,
                                     :y2 646,
                                     :width 611,
                                     :height 864.2183027615399},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1690992328078},
               :properties {:color "yellow"}}
              {:id #uuid "64ca80ae-105b-4265-8104-19e8a92aa5c8",
               :page 27,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 579.4281819611788,
                                     :y2 553.0833587646484,
                                     :width 611,
                                     :height 864.2183027615399},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 201.29167683422565,
                                   :y1 456.39585876464844,
                                   :x2 576.0351155549288,
                                   :y2 471.06251525878906,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 178.59375508129597,
                                   :y1 472.78126525878906,
                                   :x2 576.1504720002413,
                                   :y2 487.4479217529297,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 178.59375508129597,
                                   :y1 489.15626525878906,
                                   :x2 579.2311604768038,
                                   :y2 503.8229217529297,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 178.59375508129597,
                                   :y1 505.65626525878906,
                                   :x2 576.48610432446,
                                   :y2 520.3229217529297,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 178.59375508129597,
                                   :y1 522.0416717529297,
                                   :x2 579.4281819611788,
                                   :y2 536.7083587646484,
                                   :width 611,
                                   :height 864.2183027615399}
                                  {:x1 178.59375508129597,
                                   :y1 538.4166717529297,
                                   :x2 360.31252034008503,
                                   :y2 553.0833587646484,
                                   :width 611,
                                   :height 864.2183027615399}),
                          :page 27},
               :content {:text "乙烯生产工艺路线走向多元化。在中国能源禀赋为“富煤、贫油、少气”的背景下，中国走出了独具特色的 CTO/MTO 乙烯路线，并成为现代煤化工的六大路线之一。2020 年，石脑油裂解法仍是中国生产乙烯的主流生产工艺，占比达73.95%，CTO/MTO 工艺占比 20.87%，LPG 裂解工艺占比 2.88%。2019 年，新浦化学 65 万吨/年乙烷/丙烷裂解制备乙烯的装置投产，成为国内首套利用轻烃制乙烯的装置，产能占比达到 1.87%。"},
               :properties {:color "yellow"}}
              {:id #uuid "64ca80c1-54f4-4268-b06e-57bd45d94147",
               :page 27,
               :position {:bounding {:x1 157,
                                     :y1 557,
                                     :x2 587,
                                     :y2 784,
                                     :width 611,
                                     :height 864.2183027615399},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1690992832461},
               :properties {:color "yellow"}}
              {:id #uuid "64ca85b8-e8e4-4565-b787-001431b730bd",
               :page 30,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 700.9986572265625,
                                     :y2 636.2604217529297,
                                     :width 743,
                                     :height 1050.9234025398105},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 244.78125,
                                   :y1 498.42710876464844,
                                   :x2 700.7623291015625,
                                   :y2 516.4271087646484,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 518.4896087646484,
                                   :x2 700.8935546875,
                                   :y2 536.4896087646484,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 538.4166717529297,
                                   :x2 700.7611083984375,
                                   :y2 556.4166717529297,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 558.3541717529297,
                                   :x2 700.9986572265625,
                                   :y2 576.3541717529297,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 578.4271087646484,
                                   :x2 700.891845703125,
                                   :y2 596.4271087646484,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 598.3437652587891,
                                   :x2 700.9767456054688,
                                   :y2 616.3437652587891,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 618.2604217529297,
                                   :x2 299.75,
                                   :y2 636.2604217529297,
                                   :width 743,
                                   :height 1050.9234025398105}),
                          :page 30},
               :content {:text "提前布局，公司乙烯生产优势明显。大乙烯一期项目选用丙烷和烟台工业园丙烷脱氢装置自产乙烷为原料。一方面，公司继续推进与全球主流 LPG 供应商的战略合作，从原料端降低风险，保证了供应的稳定性。另一方面，公司与战略供应商签订造船协议，从运输端提供物流保障。此外，公司烟台工业园毗邻港口和泊位，并拥有 100 万立方米的地下洞库，二期将建设 120 万立方米的地下洞库。地下洞库存储优势明显，夏天存放冬天释放，可利用丙烷价格周期性的特征显著降低采购成本。"},
               :properties {:color "yellow"}}
              {:id #uuid "64ca85ca-0ec0-437d-bcc6-2922803739f8",
               :page 30,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 700.9208374023438,
                                     :y2 866.0416870117188,
                                     :width 743,
                                     :height 1050.9234025398105},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 244.78125,
                                   :y1 653.3125305175781,
                                   :x2 494.34381103515625,
                                   :y2 671.3125305175781,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 244.625,
                                   :y1 688.2083587646484,
                                   :x2 700.5866088867188,
                                   :y2 706.2083587646484,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 708.1250305175781,
                                   :x2 700.9208374023438,
                                   :y2 726.1250305175781,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 728.1979370117188,
                                   :x2 700.75830078125,
                                   :y2 746.1979370117188,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 748.1146240234375,
                                   :x2 700.74658203125,
                                   :y2 766.1146240234375,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 768.0729370117188,
                                   :x2 700.766845703125,
                                   :y2 786.0729370117188,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 788.1354370117188,
                                   :x2 700.8854370117188,
                                   :y2 806.1354370117188,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 808.0625305175781,
                                   :x2 700.879150390625,
                                   :y2 826.0625305175781,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 827.9791870117188,
                                   :x2 700.9091186523438,
                                   :y2 845.9791870117188,
                                   :width 743,
                                   :height 1050.9234025398105}
                                  {:x1 217.1875,
                                   :y1 848.0416870117188,
                                   :x2 584.8161010742188,
                                   :y2 866.0416870117188,
                                   :width 743,
                                   :height 1050.9234025398105}),
                          :page 30},
               :content {:text "1、公司在 LPG 采购方面拥有一定话语权公司和匈牙利 BC 公司凭借其庞大的采购规模对上游厂商形成了较强的议价能力，并与沙特阿美、卡塔尔石油、科威特石油、Phillips66 等全球领先石化生产商间建立了良好的合作关系。2016 年，公司成为中国第一家获得沙特液化气合同价格（CP）推荐权的企业，2017 年 8 月又成为第一家加入亚洲 LPG-CFR 委员会的中国企业，进一步提升了对上游原材料采购的影响和控制能力。2018 年 11月，公司与 ADNOC 签署 LPG 长期供应协议，每年将采购多达 100 万吨 LPG，自 2019 年 1 月 1 日起，时间跨度为 10 年。2019 年 11 月，公司与卡塔尔石油公司签署一项为期 10 年 LPG 供气协议，自 2020 年 1 月 1 日起每年向公司提供 80万吨 LPG。公司正在成长为 LPG 行业最重要的参与者之一。"},
               :properties {:color "yellow"}}
              {:id #uuid "64cb238d-7782-4db5-a7d2-f5b37c0b1e2a",
               :page 32,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 684.0416870117188,
                                     :y2 470.10418701171875,
                                     :width 832.0000000000001,
                                     :height 1176.8079016327354},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 832.0000000000001,
                                   :height 1176.8079016327354}
                                  {:x1 274.10418701171875,
                                   :y1 450.10418701171875,
                                   :x2 684.0416870117188,
                                   :y2 470.10418701171875,
                                   :width 832.0000000000001,
                                   :height 1176.8079016327354}),
                          :page 32},
               :content {:text "大乙烯一期项目 2020 年底投产，石化业务将迎来快速发展。"},
               :properties {:color "purple"}}
              {:id #uuid "64cb23a4-e8c3-46ef-ba53-9a90c7a14bc6",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 719.6326904296875,
                                     :y2 246.77084350585938,
                                     :width 832.0000000000001,
                                     :height 1176.8079016327354},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 832.0000000000001,
                                   :height 1176.8079016327354}
                                  {:x1 275.94793701171875,
                                   :y1 224.10418701171875,
                                   :x2 719.6326904296875,
                                   :y2 246.77084350585938,
                                   :width 832.0000000000001,
                                   :height 1176.8079016327354}),
                          :page 33},
               :content {:text "大乙烯项目二期瞄准高端聚烯烃 POE，有望率先实现国产化"},
               :properties {:color "purple"}}
              {:id #uuid "64cb23c6-19d7-41dd-89e4-8e3cfcfffa99",
               :page 32,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 692.09375,
                                     :y2 794.8229370117188,
                                     :width 832.0000000000001,
                                     :height 1176.8079016327354},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 832.0000000000001,
                                   :height 1176.8079016327354}
                                  {:x1 274.10418701171875,
                                   :y1 774.8229370117188,
                                   :x2 692.09375,
                                   :y2 794.8229370117188,
                                   :width 832.0000000000001,
                                   :height 1176.8079016327354}),
                          :page 32},
               :content {:text "加快布局大乙烯二期项目，继续加大烯烃及下游产业链投资。"},
               :properties {:color "purple"}}
              {:id #uuid "64cb2405-8b48-48c1-877b-086a9608f765",
               :page 33,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 719.6326904296875,
                                     :y2 246.7708740234375,
                                     :width 832.0000000000001,
                                     :height 1176.8079016327354},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 832.0000000000001,
                                   :height 1176.8079016327354}
                                  {:x1 243.1979217529297,
                                   :y1 224.10418701171875,
                                   :x2 719.6326904296875,
                                   :y2 246.7708740234375,
                                   :width 832.0000000000001,
                                   :height 1176.8079016327354}),
                          :page 33},
               :content {:text "3.3. 大乙烯项目二期瞄准高端聚烯烃 POE，有望率先实现国产化"},
               :properties {:color "purple"}}
              {:id #uuid "64cb24a8-30f7-4132-bc13-847dd0fb680b",
               :page 32,
               :position {:bounding {:x1 228,
                                     :y1 566,
                                     :x2 798,
                                     :y2 756,
                                     :width 832.0000000000001,
                                     :height 1176.8079016327354},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1691034791752},
               :properties {:color "yellow"}}
              {:id #uuid "64cb24bd-03ba-42c6-96d0-2dd7a669ed44",
               :page 33,
               :position {:bounding {:x1 212,
                                     :y1 96,
                                     :x2 798,
                                     :y2 212,
                                     :width 832.0000000000001,
                                     :height 1176.8079016327354},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1691034812967},
               :properties {:color "yellow"}}],
 :extra {:page 25}}
