{:highlights [{:id #uuid "64cb2cf8-4826-46d9-b73b-9019add3cbc6",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 628.6693522334099,
                                     :y2 628.8229370117188,
                                     :width 677,
                                     :height 957.4343882281797},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333328247070312,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 218.39583843946457,
                                   :y1 540.3333435058594,
                                   :x2 628.5029703974724,
                                   :y2 555,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 195.57291668653488,
                                   :y1 555.0625,
                                   :x2 628.6693522334099,
                                   :y2 569.7291870117188,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 195.57291668653488,
                                   :y1 569.8020935058594,
                                   :x2 628.4905802607536,
                                   :y2 584.46875,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 195.57291668653488,
                                   :y1 584.5416870117188,
                                   :x2 628.2311808466911,
                                   :y2 599.2083435058594,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 195.57291668653488,
                                   :y1 599.28125,
                                   :x2 628.4161173701286,
                                   :y2 613.9479370117188,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 195.57291668653488,
                                   :y1 614.15625,
                                   :x2 365.97168987989426,
                                   :y2 628.8229370117188,
                                   :width 677,
                                   :height 957.4343882281797}),
                          :page 12},
               :content {:text "近十年全球范围内烯烃行业最显著的变革之一是原料轻质化趋势，即烯烃生产原料逐渐由重质石脑油转向更为轻质的低碳烷烃乙烷、丙烷等。这一变化发生在 2007 年以后，美国的页岩气革命带来大量的天然气资源，同时伴生出大量价格低廉的乙烷和丙烷，可以作为清洁而低成本的烯烃原料。经过十年的发展，全球乙烯中轻质化原料占比已从2010 年的 32%提升到 2020 年的 40%，且除亚洲还有煤头和油头路线的增长，其他所有地区增量均来自于轻质化原料。"},
               :properties {:color "green"}}
              {:id #uuid "64cb2dfe-15da-484b-b80e-d9ce8fcac629",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 628.6766764521599,
                                     :y2 196.95834350585938,
                                     :width 677,
                                     :height 957.4343882281797},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 219.48958843946457,
                                   :y1 149.9791717529297,
                                   :x2 626.8324381709099,
                                   :y2 165.9791717529297,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 195.57291668653488,
                                   :y1 165.40625,
                                   :x2 628.6766764521599,
                                   :y2 181.40625,
                                   :width 677,
                                   :height 957.4343882281797}
                                  {:x1 195.57291668653488,
                                   :y1 180.95834350585938,
                                   :x2 545.7250162959099,
                                   :y2 196.95834350585938,
                                   :width 677,
                                   :height 957.4343882281797}),
                          :page 12},
               :content {:text "多种工艺路线来源也催生了烯烃行业的多元性和复杂性。全球主流工艺路线按照原料分为油头、煤头、气头，分别对应石脑油裂解（以炼化一体化为代表）、煤制烯烃（CTO/MTO）、轻烃裂解（乙烷裂解、丙烷脱氢、丙烷裂解）。"},
               :properties {:color "red"}}
              {:id #uuid "64cb2e8c-f735-43f1-995e-aac4dbfcf451",
               :page 13,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 929.4756265878677,
                                     :y2 291.01042556762695,
                                     :width 992.2,
                                     :height 1403.1999999999998},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333332061767578,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 320.083353638649,
                                   :y1 161.01042556762695,
                                   :x2 921.2096353769302,
                                   :y2 183.01042556762695,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 366.239603638649,
                                   :y1 164.34375381469727,
                                   :x2 562.7298990488052,
                                   :y2 180.94792556762695,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 286.6250101327896,
                                   :y1 182.61458206176758,
                                   :x2 921.1413980722427,
                                   :y2 204.61458206176758,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 286.6250101327896,
                                   :y1 204.21876907348633,
                                   :x2 929.4756265878677,
                                   :y2 226.21876907348633,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 286.6250101327896,
                                   :y1 225.81251907348633,
                                   :x2 920.7144876718521,
                                   :y2 247.81251907348633,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 286.6250101327896,
                                   :y1 247.41667556762695,
                                   :x2 920.7144876718521,
                                   :y2 269.41667556762695,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 286.6250101327896,
                                   :y1 269.01042556762695,
                                   :x2 369.80765783786774,
                                   :y2 291.01042556762695,
                                   :width 992.2,
                                   :height 1403.1999999999998}),
                          :page 13},
               :content {:text "（一）轻烃化工流程短，收率高。从各工艺乙烯转化率来看，乙烷裂解是流程最短、收率最高的路线，其产物结构来看，80%转化为乙烯，副产物仅占 20%，其中包含可以加以利用的氢气副产；而其他原料裂解路线的乙烯收率均在 40%以下，并伴有成品油、丙烯等其他产物，具有产品范围分布较宽的特点。当企业选择这些路线时，需同时考虑这些副产物的消化问题。而对仅需要乙烯原料的企业而言，乙烷路线无疑是更为直接高效的路线。"},
               :properties {:color "green"}}
              {:id #uuid "64cd018d-77d5-4d29-a51d-6bf8399a4e6a",
               :page 13,
               :position {:bounding {:x1 216,
                                     :y1 740,
                                     :x2 839,
                                     :y2 888,
                                     :width 898,
                                     :height 1269.9794396291068},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1691156876368},
               :properties {:color "yellow"}}],
 :extra {:page 17}}
