{:highlights [{:id #uuid "64c94df4-aa24-4f7c-b169-f8f7313626a1",
               :page 30,
               :position {:bounding {:x1 26.27083459496498,
                                     :y1 17.76043701171875,
                                     :x2 423.95842614769936,
                                     :y2 48.427093505859375,
                                     :width 701.9999999999999,
                                     :height 526.4999999999999},
                          :rects ({:x1 26.27083459496498,
                                   :y1 17.76043701171875,
                                   :x2 423.95842614769936,
                                   :y2 48.427093505859375,
                                   :width 701.9999999999999,
                                   :height 526.4999999999999}),
                          :page 30},
               :content {:text "对标国际巨头，实现产业链一体化发展"},
               :properties {:color "red"}}
              {:id #uuid "64c94e06-64e1-40bd-9dac-b26ece00a9ad",
               :page 30,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 664.7392221987247,
                                     :y2 239.6875,
                                     :width 701.9999999999999,
                                     :height 526.4999999999999},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.333335876464844,
                                   :width 701.9999999999999,
                                   :height 526.4999999999999}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 65.33333587646484,
                                   :width 701.9999999999999,
                                   :height 526.4999999999999}
                                  {:x1 289.17142739892006,
                                   :y1 162.8541717529297,
                                   :x2 664.6632486879826,
                                   :y2 183.52084350585938,
                                   :width 701.9999999999999,
                                   :height 526.4999999999999}
                                  {:x1 70.14583840966225,
                                   :y1 190.9375,
                                   :x2 664.7392221987247,
                                   :y2 211.6041717529297,
                                   :width 701.9999999999999,
                                   :height 526.4999999999999}
                                  {:x1 70.14583840966225,
                                   :y1 193.6041717529297,
                                   :x2 664.7392221987247,
                                   :y2 209.1666717529297,
                                   :width 701.9999999999999,
                                   :height 526.4999999999999}
                                  {:x1 70.14583840966225,
                                   :y1 219.02084350585938,
                                   :x2 428.93966165184975,
                                   :y2 239.6875,
                                   :width 701.9999999999999,
                                   :height 526.4999999999999}),
                          :page 30},
               :content {:text "万华化学对标国际巨头巴斯夫，依靠成熟的聚氨酯产业链，完善石化产业链，向具有高附加值的下游产品延伸，实施从“万华聚氨酯”向“万华化学”转变的多元化战略，实现一体化协同发展。"},
               :properties {:color "green"}}
              {:id #uuid "64c94e5a-35d4-4d0e-89a6-e4389dd29fc7",
               :page 33,
               :position {:bounding {:x1 3,
                                     :y1 -0.666015625,
                                     :x2 783,
                                     :y2 541.333984375,
                                     :width 800,
                                     :height 600},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1690914392658},
               :properties {:color "yellow"}}],
 :extra {:page 33}}
