{:highlights [{:id #uuid "64cdd2ce-fb23-4ecf-8867-97347310dec7",
               :page 6,
               :position {:bounding {:x1 45,
                                     :y1 395.66650390625,
                                     :x2 772,
                                     :y2 713.66650390625,
                                     :width 799,
                                     :height 1129.9705704495059},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1691210445859},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd2df-8425-4c57-b73a-f6ff2a0a9f2d",
               :page 7,
               :position {:bounding {:x1 47,
                                     :y1 124.66650390625,
                                     :x2 404,
                                     :y2 418.66650390625,
                                     :width 799,
                                     :height 1129.9705704495059},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1691210462071},
               :properties {:color "yellow"}}
              {:id #uuid "64cddfaa-d4d7-4975-ab58-dbbaae3ed071",
               :page 7,
               :position {:bounding {:x1 40,
                                     :y1 689.33349609375,
                                     :x2 665,
                                     :y2 864.33349609375,
                                     :width 690.0000000000001,
                                     :height 975.8193912517638},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1691213737422},
               :properties {:color "yellow"}}
              {:id #uuid "64cddfbe-ef57-4b7c-b27b-a78d163bda2f",
               :page 8,
               :position {:bounding {:x1 168,
                                     :y1 269,
                                     :x2 653,
                                     :y2 413,
                                     :width 690.0000000000001,
                                     :height 975.8193912517638},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1691213757384},
               :properties {:color "yellow"}}
              {:id #uuid "64cddfd8-a36d-4eec-80e0-a8d558b587ca",
               :page 5,
               :position {:bounding {:x1 56.89710144927536,
                                     :y1 857.4260869565217,
                                     :x2 457.38672547271284,
                                     :y2 1155.1344609799592,
                                     :width 913.0000000000001,
                                     :height 1291.1929046563193},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691214482197},
               :properties {:color "yellow"}}
              {:id #uuid "64cde004-d81b-4e00-ab97-b9a8da9c974e",
               :page 5,
               :position {:bounding {:x1 154,
                                     :y1 128,
                                     :x2 660,
                                     :y2 347,
                                     :width 690.0000000000001,
                                     :height 975.8193912517638},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691213812042},
               :properties {:color "yellow"}}
              {:id #uuid "64cde2a7-6404-4383-b72c-6143df9f6158",
               :page 5,
               :position {:bounding {:x1 465,
                                     :y1 858,
                                     :x2 877,
                                     :y2 1181,
                                     :width 913.0000000000001,
                                     :height 1291.1929046563193},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691214502923},
               :properties {:color "yellow"}}
              {:id #uuid "64cde2d9-023a-47ec-a8a9-116ded7a45ae",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 848.0143432617188,
                                     :y2 618.9895935058594,
                                     :width 913.0000000000001,
                                     :height 1291.1929046563193},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 913.0000000000001,
                                   :height 1291.1929046563193}
                                  {:x1 799.59375,
                                   :y1 568.9479370117188,
                                   :x2 848.0143432617188,
                                   :y2 590.28125,
                                   :width 913.0000000000001,
                                   :height 1291.1929046563193}
                                  {:x1 239.27084350585938,
                                   :y1 597.65625,
                                   :x2 513.4025268554688,
                                   :y2 618.9895935058594,
                                   :width 913.0000000000001,
                                   :height 1291.1929046563193}),
                          :page 7},
               :content {:text "天然气分离法是目前唯一工业化获取氦的方法"},
               :properties {:color "red"}}],
 :extra {:page 4}}
