{:highlights [{:id #uuid "64cdd582-d258-4885-a65f-0e75980fa26e",
               :page 6,
               :position {:bounding {:x1 40,
                                     :y1 564.6666717529297,
                                     :x2 720,
                                     :y2 938,
                                     :width 759,
                                     :height 1073.40133037694},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1691211143134},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd594-6921-499c-a0e7-72064b34fc01",
               :page 7,
               :position {:bounding {:x1 44,
                                     :y1 358,
                                     :x2 715,
                                     :y2 735,
                                     :width 759,
                                     :height 1073.40133037694},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1691211156153},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd5a7-1599-4003-b20e-6210279963e7",
               :page 8,
               :position {:bounding {:x1 47,
                                     :y1 112,
                                     :x2 712,
                                     :y2 354,
                                     :width 759,
                                     :height 1073.40133037694},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1691211175029},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd607-7740-4267-85c8-6ea350fa3d2e",
               :page 12,
               :position {:bounding {:x1 198,
                                     :y1 248.6669921875,
                                     :x2 820,
                                     :y2 528.6669921875,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1691211270580},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd622-506c-46ba-9fe6-12b377899d6d",
               :page 8,
               :position {:bounding {:x1 45,
                                     :y1 645.6669921875,
                                     :x2 854,
                                     :y2 928.6669921875,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1691211296954},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd62f-8eee-47ab-9079-3608c2ae98eb",
               :page 13,
               :position {:bounding {:x1 206,
                                     :y1 300,
                                     :x2 825,
                                     :y2 836,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1691211310415},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd645-fa1c-429b-a04d-d7584f2285da",
               :page 15,
               :position {:bounding {:x1 69,
                                     :y1 666,
                                     :x2 820,
                                     :y2 1024,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1691211340082},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd656-10e4-45b6-a08e-8071f553569f",
               :page 16,
               :position {:bounding {:x1 211,
                                     :y1 266,
                                     :x2 818,
                                     :y2 577,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1691211349848},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd67a-8028-49b1-a1ac-a48184162cb7",
               :page 20,
               :position {:bounding {:x1 166,
                                     :y1 383.333984375,
                                     :x2 826,
                                     :y2 698.333984375,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1691211385878},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd690-9f78-4696-bc9d-a6ccf51e9f11",
               :page 22,
               :position {:bounding {:x1 50,
                                     :y1 102.333984375,
                                     :x2 823,
                                     :y2 525.333984375,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1691211407704},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd69b-6517-49e1-a0c3-9d5f1874deb7",
               :page 23,
               :position {:bounding {:x1 50,
                                     :y1 98.333984375,
                                     :x2 821,
                                     :y2 651.333984375,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1691211418221},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd6c2-9b91-4962-a367-945284ef6b91",
               :page 25,
               :position {:bounding {:x1 63,
                                     :y1 721.333984375,
                                     :x2 817,
                                     :y2 1059.333984375,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1691211458110},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd6cc-184b-441e-88c1-2eae73d8b380",
               :page 26,
               :position {:bounding {:x1 35,
                                     :y1 357.333984375,
                                     :x2 813,
                                     :y2 777.333984375,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1691211468179},
               :properties {:color "yellow"}}
              {:id #uuid "64cdd6e0-3068-4a1a-878f-8e5ac76a8cf3",
               :page 28,
               :position {:bounding {:x1 60,
                                     :y1 133.33203125,
                                     :x2 776,
                                     :y2 510.33203125,
                                     :width 863,
                                     :height 1220.4813545656116},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1691211487212},
               :properties {:color "yellow"}}
              {:id #uuid "64cdde52-d699-473a-a7ad-524d0b4a4733",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 511.78127034008503,
                                     :y2 309.76041412353516,
                                     :width 551,
                                     :height 779.2412819995968},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333335876464844,
                                   :width 551,
                                   :height 779.2412819995968}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 551,
                                   :height 779.2412819995968}
                                  {:x1 164.06250508129597,
                                   :y1 279.10416412353516,
                                   :x2 511.78127034008503,
                                   :y2 292.43750762939453,
                                   :width 551,
                                   :height 779.2412819995968}
                                  {:x1 144.39583332836628,
                                   :y1 296.4271011352539,
                                   :x2 300.6299641877413,
                                   :y2 309.76041412353516,
                                   :width 551,
                                   :height 779.2412819995968}),
                          :page 8},
               :content {:text "低温超导技术实验室发现以及起步较早，已在医疗等特殊领域开启应用。MRI 是当前低温超导技术最主要的应用领域"},
               :properties {:color "purple"}}],
 :extra {:page 8}}
