{:highlights [{:id #uuid "64cde0d2-1ff5-4991-8a4d-ac2d8cf5f7d2",
               :page 16,
               :position {:bounding {:x1 96,
                                     :y1 523.3330078125,
                                     :x2 628,
                                     :y2 699.3330078125,
                                     :width 690,
                                     :height 980.3207051201564},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1691214029700},
               :properties {:color "yellow"}}
              {:id #uuid "64cde0f2-073f-4738-adf1-959e2cdaee86",
               :page 17,
               :position {:bounding {:x1 178,
                                     :y1 98.6669921875,
                                     :x2 499,
                                     :y2 477.6669921875,
                                     :width 690,
                                     :height 980.3207051201564},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1691214065661},
               :properties {:color "yellow"}}
              {:id #uuid "64cde222-0f9d-4104-9c65-a8ab87b57223",
               :page 157,
               :position {:bounding {:x1 113,
                                     :y1 98.671875,
                                     :x2 558,
                                     :y2 441.671875,
                                     :width 690,
                                     :height 980.3207051201564},
                          :rects (),
                          :page 157},
               :content {:text "[:span]", :image 1691214369212},
               :properties {:color "yellow"}}
              {:id #uuid "64cde24a-2615-4342-b823-749bb522ffed",
               :page 156,
               :position {:bounding {:x1 146,
                                     :y1 303,
                                     :x2 603,
                                     :y2 663,
                                     :width 690,
                                     :height 980.3207051201564},
                          :rects (),
                          :page 156},
               :content {:text "[:span]", :image 1691214409766},
               :properties {:color "yellow"}}],
 :extra {:page 155}}
