{:highlights [{:id #uuid "64c94ce1-dcdc-40f0-87d2-e3a2e8e10789",
               :page 3,
               :position {:bounding {:x1 402,
                                     :y1 470,
                                     :x2 774,
                                     :y2 729,
                                     :width 816.9999999999999,
                                     :height 1155.4267284821606},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1690914016492},
               :properties {:color "yellow"}}
              {:id #uuid "64c94d2f-ac03-4264-89fc-86b0772b2548",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 651.0523681640625,
                                     :y2 173.47915649414062,
                                     :width 702,
                                     :height 992.7901632735335},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 702,
                                   :height 992.7901632735335}
                                  {:x1 185.8125,
                                   :y1 98.72915649414062,
                                   :x2 645.1005859375,
                                   :y2 114.72915649414062,
                                   :width 702,
                                   :height 992.7901632735335}
                                  {:x1 185.8125,
                                   :y1 115.3125,
                                   :x2 651.0523681640625,
                                   :y2 131.3125,
                                   :width 702,
                                   :height 992.7901632735335}
                                  {:x1 185.8125,
                                   :y1 140.91665649414062,
                                   :x2 645.2388305664062,
                                   :y2 156.91665649414062,
                                   :width 702,
                                   :height 992.7901632735335}
                                  {:x1 185.8125,
                                   :y1 157.47915649414062,
                                   :x2 415.5625,
                                   :y2 173.47915649414062,
                                   :width 702,
                                   :height 992.7901632735335}),
                          :page 3},
               :content {:text "乙烷是从天然气凝析液（NGL）中分离得到的，在 NGL 中的占比大约为 56%~65%。美国页岩气革命拉动石油与天然气产量上升，导致 NGL 产量的增长，进而推动乙烷供给量的提升。乙烷的主要应用是作为乙烷裂解原料。乙烷裂解消化不掉的部分，不会被分离出来，而是以天然气的价格销售，或叫做“乙烷回注”。"},
               :properties {:color "yellow"}}
              {:id #uuid "64c94d88-b18f-4e92-b423-b6044697beaf",
               :page 6,
               :position {:bounding {:x1 42,
                                     :y1 64,
                                     :x2 655,
                                     :y2 402,
                                     :width 702,
                                     :height 992.7901632735335},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1690914183772},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
