{:highlights [{:id #uuid "64cf3221-51ec-4b46-a6fd-3f83c07768af",
               :page 34,
               :position {:bounding {:x1 49,
                                     :y1 54.666015625,
                                     :x2 639,
                                     :y2 421.666015625,
                                     :width 677,
                                     :height 943.5055503702514},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1691300372248},
               :properties {:color "yellow"}}
              {:id #uuid "64cf3531-95f8-470f-9a35-735bea26b470",
               :page 38,
               :position {:bounding {:x1 74,
                                     :y1 410.66796875,
                                     :x2 622,
                                     :y2 814.66796875,
                                     :width 677,
                                     :height 943.5055503702514},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1691301168804},
               :properties {:color "yellow"}}
              {:id #uuid "64cf35cc-604e-44e8-9436-debef1f71feb",
               :page 49,
               :position {:bounding {:x1 335,
                                     :y1 554.66796875,
                                     :x2 626,
                                     :y2 773.66796875,
                                     :width 677,
                                     :height 943.5055503702514},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1691301324062},
               :properties {:color "yellow"}}
              {:id #uuid "64cf35e8-fa50-449b-be55-f7617c215784",
               :page 50,
               :position {:bounding {:x1 62,
                                     :y1 550.66796875,
                                     :x2 343,
                                     :y2 676.66796875,
                                     :width 677,
                                     :height 943.5055503702514},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1691301332272},
               :properties {:color "yellow"}}
              {:id #uuid "64cf3607-be1b-4943-8495-425e1526df80",
               :page 52,
               :position {:bounding {:x1 56,
                                     :y1 75.66796875,
                                     :x2 351,
                                     :y2 224.66796875,
                                     :width 677,
                                     :height 943.5055503702514},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1691301383155},
               :properties {:color "yellow"}}
              {:id #uuid "64cf360d-5af0-4f52-86ff-11a109a855c1",
               :page 52,
               :position {:bounding {:x1 52,
                                     :y1 386.66796875,
                                     :x2 642.0000610351562,
                                     :y2 537.66796875,
                                     :width 677,
                                     :height 943.5055503702514},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1691301391455},
               :properties {:color "yellow"}}],
 :extra {:page 54}}
